.main{
display: flex;
justify-content: space-around;
}
.logo{
    width: 150px;
}
.test{
    font-size: 60px;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
.ml-0.text-xl{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.work{
    background-color: 	#ffffff;
}
.service{
    font-size: 60px;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;

}
